<% include ../partials/boilerplate %>

<div class='row center'>
  <div class="spacer"></div>
    <a class='btn waves-effect waves-light center purple' href='/animals'>Return to Animal index</a>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <span class="card-title home grid-element-title"><%= animals.animal_type %></span>
          <span class='animalsImgContainer'><img class='animalsImages'src='<%= animals.animal_pic_url %>'></span>
        </div> <!-- end of card -->
        <div class="row" id="editButtons">
                <div class="spacer"></div>
                <div class="center-align">
                  <a class="btn-large waves-effect waves-light orange" href="'/animals/edit/<%= animals.id %>'">
                    Edit Me
                  </a>
                </div>
        </div><!-- end of edit buttons -->
        <div class='deleteAnimal row center'>                  
          <form method='POST' action='/animals/<%= animals.id %>?_method=DELETE'>
              <buttons class="btn waves-effect waves-light center red">
                <input class='deleteAnimals addAnimalslink'type='submit' value='Delete Your Animal 🙈' />
              </button>
          </form>
        </div><!-- end of deleteAnimal -->
        
        <p class="grey lighten-3 static-text black-text">👉🏾 Your Stories:</p>

        <table>
          <tbody>
          <tr class='animalsFirst'>
              <%  stories.forEach(story=>{  %>
                <td><%= story.content %></td>
              <%  })  %>
          </tr>  
          </tbody>
        </table>

      </div>     
    </div> <!-- end of row -->
  </div> <!-- end of section -->
</div> <!-- end of container -->

<% include ../partials/end %>





