<% include ../partials/boilerplate %>

<div class='container'>
    <div class="section">
        <div class="row">
        <div class="col s12">
          <% animalsData.forEach(function(animal) { %>
            <div class="col s12">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <span class="card-title home grid-element-title"><%= animal.animal_type %></span>
                  <img class='responsive-img wp-post-image'src='<%= animal.animal_pic_url %>'>
                </div>
                
              <div class='stories'>
                <%= animal.users %>
              </div>
              <div class='row' id="editButtons">
                <div class="spacer"></div>
                <div class="center-align">
                  <a class="btn-large waves-effect waves-light green"  href='/animals/<%= animal.id %>'>
                    Go to My Page 
                  </a>
                  <a class="btn-large waves-effect waves-light orange"  href='/animals/edit/<%= animal.id %>'>
                    Edit Me
                  </a>
                </div>
              </div> <!-- end of edit row -->
                <p class="grey lighten-3 static-text black-text">
                  <strong class="center">👉🏾 Add your story:</strong>
                </p>
                <div class="row editAnimalButtons">
                  <div class="input-field col s12">
                    <form class="addAnimalStory" method='POST' action='/animals/story/<%=animal.id%>'>
                      <i class="material-icons prefix">mode_edit</i>
                      <input type="text" name="content" placeholder="Start writing your story here!" />
                      <div class="row center">
                        <button class="btn waves-effect waves-light center">
                          <input type="submit" value="Submit">
                        </button>
                      </div>
                    </form>
                  </div>
                  
                  <div class='deleteAnimal row center'>                  
                    <form method='POST' action='/animals/<%= animal.id %>?_method=DELETE'>
                        <button class="btn waves-effect waves-light center red">
                          <input class='deleteAnimals addAnimalslink'type='submit' value='Delete Your Animal 🙈' />
                        </button>
                    </form> 
                  </div><!-- end of deleteAnimal -->                                     
                </div> <!-- end of row editAnimalButtons-->  
            </div><!-- end of card -->
          </div> <!-- end of col s12 m6 l4 -->
          <% }) %>
    </div> <!-- end of col s12 -->  
    </div>  <!-- end of row --> 
  </div>   <!-- end of section -->  
</div> <!-- end of container -->

<% include ../partials/end %>





